<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="js/money.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="realexchangeCtrl">

  <ion-pane>
      <ion-header-bar class="bar-stable bar-calm">
          <h1 class="title">Real Exchange Rate</h1>
      </ion-header-bar>
      <ion-content >
          <ion-refresher
                  pulling-text="Pull to refresh..."
                  on-refresh="doRefresh()">
          </ion-refresher>
          <div class="list">

              <label class="item item-input item-select">
                  <div class="input-label">
                      From Currency
                  </div>
                  <select ng-model="Data.fromCurrency" ng-change="getExchangeRate()">
                                <option value="">Select</option>
                      <option ng-repeat="(key,value)  in result.rates" value="{{key}}">{{key}}</option>
                  </select>
              </label>

          </div>
          <div class="list">

              <label class="item item-input item-select">
                  <div class="input-label">
                      To Currency
                  </div>
                  <select ng-model="Data.toCurrency" ng-change="getExchangeRate()">
                                 <option value="">Select</option>
                      <option ng-repeat="(key,value) in result.rates" value="{{key}}">{{key}}</option>
                  </select>
              </label>

          </div>

          <div class="list">
              <label class="item item-input">
                  <div class="input-label">
                      Amount
                  </div>
                  <input id="amount" type="number" placeholder="Amount" ng-model="Data.amount" ng-change="getExchangeRate()">
              </label>
          </div>
          <label class="item item-input">
              <span class="input-label">Date</span>
              <input id="rateDate" type="date" ng-model="Data.date" ng-change="getExchangeRate()">
          </label>
          <div class="card" ng-show="exchangeRate">
              <div class="item item-text-wrap" style="text-align:center;">
                  <h1>{{Data.amount}} {{Data.fromCurrency}} = {{exchangeRate}} {{Data.toCurrency}}</h1>
              </div>
          </div>
      </ion-content>
      <div class="bar bar-footer bar-calm">
          <div class="title">&copy 2014 <a href="http://blog.shiefuzzaman.com" target="_blank">Shiefuzzaman</a></div>
      </div>
  </ion-pane>
  </body>
</html>
